<!DOCTYPE html>
<html ng-app="/assets/javascripts/app.js">
<head>
  <title>WdiProject3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'patients.module', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'index.controller', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'show.controller', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
