<!DOCTYPE html>
<html>
<head>
  <title>Hand Off</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'api.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'patient.index.controller', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'visit.controller', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'patient.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'visits.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vital.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cbc.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ptptt.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bmp.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dx.factory', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'rx.factory', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="handOff">

<%=yield%>

</body>
</html>
